{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static'news/styles.css' %}">
{% endblock %}

{% block content %}
<link 
    <h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
        {%include"./storyCard.html"withstory=storyposition=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
            <!-- Change here -->
                <p>{{ story.title }}</p> 
            {% endfor %}
        {% else %}
        {% include "./storyCard.html" with story=story %}
    </div>
    {% endblock %}