{% extends "base.html" %}
{% load static %}    



{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
<buton class="btn">
<a href="{% url 'news:newStory' %}">Write New Story</a>
</button>
</div>


<h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story postion=forloop.counter %}
            {% endfor %}
        {% else %}
            {% include "./storyCard.html" with story=story %}
        {% endif %}
    </div>
    {% endblock %}